.upload-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 9px;
}

.upload-sec .icon-button {
  background: rgb(250, 204, 55);
  min-width: 46px;
  width: 70px;
  padding: 6px 0px;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.upload-sec .icon-button-contained {
  background: rgb(250, 204, 55);
  color: #000;
}

.cardContainer .customCard {
  background: rgba(92, 92, 92, 0.2);
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 24px;
}

.cardContainer .customCard .cardNote {
  font-size: 14px;
  text-align: left;
}

.cardContainer .customCard .cardInputGroup {
  margin-bottom: 15px;
}
.cardContainer .customCard .cardInputGroup .cardInputHeader {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .upload-attachment-block {
    margin-top: 10px;
  }
}

.contactus-dark-wrapper {
  background-color: #000;
  color: #fff;
  height: 100vh;
}
.mantine-Select-input {
  margin-top: 5px;
  background: #1a1b1e;
  border: none;
}
.mantine-TextInput-input {
  margin-top: 5px;
  background: #1a1b1e;
  border: none;
}
.mantine-Textarea-input {
  margin-top: 5px;
  background: #1a1b1e;
  border: none;
}
.submit-btn-contact-us {
  height: 36px;
  border-radius: 10px;
  background-color: black;
  font-size: 14px;
  color: white;
  border: none;
  width: 100px;
  height: 38px;
  line-height: 38px;
}
.submit-btn-contact-us:hover {
  background-color: rgba(211, 163, 6, 0.04);
  border: 1px solid #d3a306;
}
.cancel-btn-contact-us:hover {
  background-color: rgba(211, 163, 6, 0.04);
  border: 1px solid white;
  color: #d3a306;
}
.cancel-btn-contact-us {
  height: 36px;
  border-radius: 10px;
  font-size: 14px;
  background-color: lightgray;
  color: black;
  border: none;
  width: 100px;
}
