.dropdown-wrapper {
  fieldset.MuiOutlinedInput-notchedOutline {
    border-radius: 4px !important;
  }
  .select-options {
    &:hover {
      fieldset.MuiOutlinedInput-notchedOutline {
        border: 1px solid #000 !important;
      }
    }
  }

  .MuiOutlinedInput-input.MuiInputBase-inputSizeSmall {
    padding: 5px 8px;
    color: #000;
  }

  .MuiFormLabel-root {
    font-weight: 700;
    font-size: 14px;
    color: #595959 !important;
  }
}
