.page-wrapper {
  min-height: calc(100vh - 121px);
  background: url('../../../assets/images/bg.png') no-repeat top;
  background-size: cover;
  text-align: left;
  color: #fff;
  padding-bottom: 60px;

  textarea {
    color: #fff;
  }

  .renderBlockWrapper {
    background: rgba(140, 140, 140, 0.14);
  }
  td {
    input {
      color: #212529 !important;
    }
  }
  .input-wrapper-textarea .MuiFormLabel-root,
  .radio-wrapper .MuiFormLabel-root,
  .date-wrapper .MuiFormLabel-root,
  .input-wrapper .MuiFormLabel-root,
  input,
  // textarea,
  .dropdown-wrapper .MuiOutlinedInput-input.MuiInputBase-inputSizeSmall,
  .dropdown-wrapper .MuiFormLabel-root,
  .mantine-Select-label {
    color: #fff !important;
  }
  .MuiRadio-root {
    svg {
      color: #fff;
    }
  }
  .input-wrapper {
    fieldset {
      border-color: rgb(255 255 255 / 59%);
    }
    .MuiInputBase-root {
      &:hover {
        fieldset {
          border-color: #d3a306;
        }
      }
    }
  }
  input:focus {
    color: #e8e8e8;
    background-color: #0000;
  }
}
