.control-actions-wrapper {
  background: rgba(33, 33, 33, 0.15);
  padding: 12px 40px;
  hr{
    margin: 1rem 0;
  }
  .active{
    background: #e7c55d !important;
    color: #333333 !important;
    font-weight: 600;
  }
}
.modal-form-wrapper {
  padding: 40px;
}

.modal-form-body {
  max-height: calc(100vh - 150px);
  overflow: scroll;
}
.table-modal-title {
  font-size: 22px;
}

.react-bootstrap-table {
  width: 100%;
  overflow-x: auto;
}
.side-by-side-radio-wrapper {
  display: grid !important;
  gap: 2%;
  grid-template-columns: 73% 23%;

  .side-by-side-radio-label {
    font-weight: 400 !important;
  }
  .side-by-side-radio {
    display: grid !important;
    align-items: center;
    gap: 2%;
    grid-template-columns: 68% 28%;
  }
}
