.questions-with-action-wrapper {
  background: #f1f1f1;
  border-radius: 4px;
  padding: 20px 30px;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  .radio-label {
    label {
      margin-bottom: 0.5rem;
    }
  }
  .questions-number {
    background: #363636;
    border-radius: 2px;
    width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .question-text {
    color: #595959;
    margin-left: 5%;
    text-align: left;
  }
}

.question-loader {
  display: flex;
  height: 78%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
