.renderBlockWrapper {
  background: rgba(140, 140, 140, 0.14);
  border-radius: 8px;
  padding: 20px 25px;
  margin-bottom: 20px;

  .question-text-section {
    display: flex;
    align-items: center; /* Optional, to vertically center the content */
    p {
      margin-bottom: 0;
    }
  }
  .question-number {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background: rgba(92, 92, 92, 0.2);
    padding: 2px 5px;
  }
  .question-text {
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 10px; /* Optional, adjust the spacing between the two elements */
  }

  .renderBlockWrapper_divider_form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .option-section {
    .radio-option-label {
      padding-left: 6px;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
  }

  .renderBlockWrapper-control-actions-wrapper {
    border-radius: 0 0 10px 10px;
    padding: 12px 40px;
    hr {
      margin: 1rem 0;
    }
    .active {
      background: #e7c55d !important;
      color: #333333 !important;
      font-weight: 600;
    }
  }
  .renderBlockWrapper_title {
    text-transform: capitalize;
    color: #e3af32;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
  }

  .renderBlockWrapper_content {
    color: #ffffff;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .renderBlockWrapper_file {
    color: #e3af32;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .renderBlockWrapper_file_btn {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    //border: none !important;
    border-radius: 8px !important;
    margin-left: 1rem !important;
    text-transform: capitalize !important;
  }

  .renderBlockWrapper_divider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .error-message {
    font-size: 16px;
    font-weight: 400;
    color: #ff0000;
    //line-height: 1.5;
    margin-top: 0.25rem;
  }
}

.rep-letter-form-bottom-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
#save-draft-btn-rep-letter {
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 999;
  margin-bottom: 50px;
}
.Rep-Letter-form-Section0 {
  padding-top: 24px;
}
