.control-actions-wrapper {
  background: rgba(140, 140, 140, 0.14);
  border-radius: 0 0 10px 10px;
  padding: 12px 40px;
  hr {
    margin: 1rem 0;
  }
  .active {
    background: #e7c55d !important;
    color: #333333 !important;
    font-weight: 600;
  }
}
.modal-form-wrapper {
  padding: 40px;
}

.btn-disabled {
  cursor: not-allowed !important;
}

.modal-form-body {
  max-height: calc(100vh - 180px);
  overflow: auto;
}
.table-modal-title {
  font-size: 22px;
}

.save-draft-btn-wrapper {
  display: flex;
  width: fit-content;
  margin-left: auto;
}

.react-bootstrap-table {
  width: 100%;
  overflow-x: auto;
}
.side-by-side-radio-wrapper {
  display: grid !important;
  gap: 2%;
  grid-template-columns: 73% 23%;

  .side-by-side-radio-label {
    font-weight: 400 !important;
  }
  .side-by-side-radio {
    display: grid !important;
    align-items: center;
    gap: 2%;
    grid-template-columns: 68% 28%;
  }
}
.homeTableModalTop {
  padding-top: 20px;
  .topBar {
    border-radius: 10px 10px 0 0;
    padding: 20px 40px 12px 40px;
  }
  .form-control,
  .form-select {
    background-color: #e7c55d;
    color: #111;
  }
}
.topBar {
  position: relative;
  background: #212121;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 87.52%;
  padding: 8px 40px;
  border-radius: 10px;
}

.close-modal-icon {
  position: absolute;
  color: #fff;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.section2-table {
  .table-bordered {
    // border: none !important;
    thead {
      th {
        padding-right: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
.section2-table-ismodal {
  .table-bordered {
    // border: none !important;
    tbody {
      td {
      }
    }
  }
}
.section2-table-notmodal {
  .table-bordered {
    // border: none !important;
    tbody {
      tr {
        color: #fff;
      }
    }
  }
}
#noOptionInput {
  input {
    color: #000 !important;
    &:focus {
      color: #fff !important;
    }
  }
}
