.schedule-survey {
    .model-header {
        p {
            display: none;
        }
    }
}


#schedule-survey {
    .wrapper{
        margin: 25px;
    }
    .step-header {
        p {
            color:#808080;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
        }

        p.active {
            color: #ffffff;
            position: relative;
        }

        p.active::after {
            position: absolute;
            content: "";
            height: 7px;
            border-radius: 8px;
            width: 50px;
            bottom: -21px;
            left: 0;
            background: #e3af32;
            z-index: 9;
        }
    }

    .progress {
        background: #808080;
        height: 7px;
        border-radius: 8px;
        margin-bottom: 20px;
    }


    ul.steps {
        text-align: center;
        height: 60px;
        padding: 10px 0;

        li.complete:after {
            background: #EAC144;
        }

        li {
            float: left;
            width: 25%;
            height: 2px;
            background: #EAC144;
            position: relative;
            list-style: none;

            &:after {
                position: absolute;
                content: "";
                height: 10px;
                width: 10px;
                left: 50%;
                margin-left: -5px;
                top: -5px;
                background: #fff;
                border: solid 1px #EAC144;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                -o-border-radius: 100%;
                -ms-border-radius: 100%;
                border-radius: 100%;
            }
        }
    }

    .holder {
        overflow: hidden;
       
        padding: 20px;
        .schedule-survey-btn{
            text-align: end;
        }
    }

}

.AssessmentBankBoxWrapper {
    background: rgba(92, 92, 92, 0.2);
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 24px;
  }
  .AssessmentBankInnerBoxWrapper {
    background: #000000;
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 24px;
    
  }

  .AssessmentBank-inputPage-title {
    text-align: center !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 87.52%;
    //color: rgba(255, 255, 255, 0.92);
    color: #e3af32;
  }

  .footer-action-AssessmentBank {
    position: sticky;
    bottom: 0;
    padding: 15px 20px;
    
    z-index: 999;
  }

  .divider{
    padding-top: 24px;
    margin-left: 32px;
    margin-right: 32px;
  }
  .mantine-MultiSelect-wrapper-AssessmentBank {
    //text-align: center;
  
    .mantine-MultiSelect-label {
      color: #fff !important;
      //padding-left: 10px;
    }
  
    .mantine-MultiSelect-dropdown {
      background-color: grey;
    }
    .mantine-MultiSelect-input {
      background-color: #1a1b1e;
    }
    .mantine-MultiSelect-searchInput {
      background-color: #1a1b1e;
      border-color: transparent;
      box-shadow: none;
    }
  
    .mantine-MultiSelect-value {
      background-color: #ffffff;
    }
  }
  
 