#schedule-survey {
  input,select {
    color: #fff;
    background: #1b1b1b;
    border-radius: 4px !important;
    color-scheme: dark;
  }
}

.top-divider {
  padding-right: 70px !important;
  padding-left: 43px !important;
}