.questionBankBoxWrapper {
  background: rgba(92, 92, 92, 0.2);
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 24px;

  .questionBankBoxTitle {
    font-weight: 600;
    font-size: 28px;
    line-height: 87.52%;
    margin-bottom: 16px;
  }

  button {
    padding: 16px 30px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;

    .MuiSvgIcon-root {
      font-size: 30px;
    }
  }
}
.mantine-Checkbox-label {
  margin-bottom: 0 !important;
}

.langage-bg {
  background: white;
  border-radius: 10px;
  color: #595959;

  input {
    color: #595959 !important;
    &:focus {
      outline: none !important;
    }
  }
  .renderBlockWrapper {
    .radio-wrapper {
      label {
        color: #595959 !important;
      }
    }
  }
  .MuiRadio-root svg {
    color: #595959 !important;
  }
}
