.custom-button-wrapper {
  &.MuiButton-containedPrimary {
    background: #323232;
    color: #fff;
    border-radius: 8px;

    &.dark-btn {
      background: rgba(140, 140, 140, 0.14);
      backdrop-filter: blur(20px);
    }

    &:hover {
      color: #fff;
      background: #262626;
    }
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
      pointer-events: auto;
    }
  }
}
.button-radius-8 {
  border-radius: 8px !important;
}
.w-max {
  width: max-content;
}
