.renderBlockWrapper {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 20px 25px;
  margin-bottom: 20px;
}

.swal2-container {
  z-index: 999999;
}

.renderBlockWrapper .MuiButtonBase-root.MuiButton-outlined.Mui-disabled:not(.active-btn) {
  border: 1px solid rgba(211, 163, 6, 0.5) !important;
  color: #d3a306 !important;
}