.DropdownNestedMenuItem {
  display: flex;
  justify-content: space-between !important;

  & > svg {
    margin-left: 32px;
  }
}

.DropdownMenuItem {
  display: flex;
  justify-content: space-between !important;

  & > svg {
    margin-left: 32px;
  }
}
