.input-wrapper {
  width: 100%;
  max-width: 600px;
  &.full-input {
    max-width: 100%;
  }
  .MuiOutlinedInput-input {
    padding: 5px 8px;
    &:disabled {
      background-color: #f8f9fa;
    }
  }
  .MuiFormLabel-root {
    font-weight: 700;
    font-size: 14px;
    color: #595959 !important;
  }
}
