`.modify-standard {
  .model-header {
    p {
      display: none;
    }
  }
}
.select-light {
  margin-top: 20px;
}
.note {
  background: #f7f6ed;
  padding: 4px 12px;
  p {
    font-size: 14px;
    margin: 10px 0;
  }
}
.create-question {
  .modal-body {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
  }
  .position-absolute {
    bottom: 1rem;
    right: 0.75rem;
  }
}
