.modify-standard{
    .model-header{
        p{
            display: none;
        }
    }
}
.select-light{
    width: 200px;
    margin-top: 20px;
}
.note {
    background: #F7F6ED;
    padding: 4px 12px;
    p{
        font-size: 14px;
        margin: 10px 0;
    }
}
