.tableLoaderWrapper {
  min-height: 280px;
  backdrop-filter: blur(16.767px);
  background: rgba(61, 61, 61, 0.25);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}