.welcome-text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 87.52%;
  color: rgba(255, 255, 255, 0.92);
}

.font-22 {
  font-size: 22px !important;
}

.user-name-home {
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
}

.home-overview {
  background: rgba(140, 140, 140, 0.14);
  border-radius: 18px;
  padding: 30px;
}

.yellow-gradient-text {
  background: linear-gradient(90deg, #d7a833 0%, #f4df03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper-info-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.largeNumber {
  font-weight: 700;
  font-size: 38.0513px;
  line-height: 87.52%;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
}

.right-number {
  // display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
}

.graph-value {
  font-weight: 700;
  font-size: 64px;
  line-height: 87.52%;
  letter-spacing: -0.04em;
  margin-bottom: 0;
}

@media only screen and (max-width: 1279px) {
  .user-name-home {
    font-size: 45px;
  }

  .graph-value {
    font-size: 50px;
  }

  .right-number {
    gap: 10px;
  }

  .wrapper-info-grid {
    gap: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper-info-grid {
    grid-template-columns: 100%;
  }

  .right-number {
    margin-top: 15px;
  }
}

.yellow-text-questionBank {
  color: #ffc800;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.button {
  margin-top: 20px;
}

.MDMInnerBoxWrapper {
  background: #000000;
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;

  .questionBankBoxTitle {
    font-weight: 600;
    //font-size: 28px;
    line-height: 87.52%;
    margin-bottom: 16px;
  }

  button {
    padding: 16px 30px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 16px;

    .MuiSvgIcon-root {
      font-size: 30px;
    }
  }
}

.MDMBoxWrapper {
  background: rgba(92, 92, 92, 0.2);
  backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 24px;
}
