.MDM-inputPage-title {
    text-align: center !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 87.52%;
    //color: rgba(255, 255, 255, 0.92);
    color: #e3af32;
  }